In [84]:
import pandas as pd

In [85]:
#get file object
def get_data_from_text(fileinfo):
    f = open(fileinfo["filename"], "r")
    counter = 0
    date_list = []
    tweet_list = []
    tweet_name_list = []
    while(True):
        line = f.readline()
        counter = counter + 1
        if not line:
            break
#         print("============={}=============================".format(fileinfo['keyword']))
        loc1 =line.find(fileinfo["keyword"])
        date = line[:loc1].split(" ")[1]

        loc2 = line[loc1:].find(" ")
        content = line[loc1:][loc2:]

#     remove https://
        content = content.split('https://')[0].lower()
#         remove @
        at = content.find("@")
        while at>=0:
            space = content[at:].find(" ")
            if space < 0:
                space = content[at:].find(",")
            if space >=0:
                content = content[:at] + content[at + space:]
            else:
                content = content[:at]

            at = content.find("@")
#         Tweet more than 25 words 
        if len(content)>25:
#             print(date, "=====>",content)
            date_list.append(date)
            tweet_list.append(content)
            tweet_name_list.append(fileinfo["keyword"])
    f.close
    return (date_list, tweet_name_list, tweet_list)

In [86]:
fileinfo_list = []
fileinfo_list.append({
    'filename': "../data/biden_tweet.txt",
    'keyword': '<JoeBiden>'})
fileinfo_list.append({
    'filename': "../data/trump_tweet.txt",
    'keyword': '<realDonaldTrump>'})
fileinfo_list.append({
    'filename': "../data/nancy.txt",
    'keyword': '<SpeakerPelosi>'})
fileinfo_list.append({
    'filename': "../data/senatemajldr.txt",
    'keyword': '<senatemajldr>'})
date_list_all= []
tweet_list_all = []
tweet_name_list_all = []
for fileinfo in fileinfo_list:
    date_list, tweet_name_list, tweet_list = get_data_from_text(fileinfo)
    date_list_all += date_list
    tweet_list_all += tweet_list
    tweet_name_list_all += tweet_name_list
# @SpeakerPelosi

In [87]:
tweetDf= pd.DataFrame({"date": date_list_all, "name": tweet_name_list_all, "tweet": tweet_list_all})
tweetDf

,date,name,tweet
0,2020-11-15,<JoeBiden>,congratulations to nasa and spacex on today's...
1,2020-11-14,<JoeBiden>,"to the millions of hindus, jains, sikhs, and ..."
2,2020-11-13,<JoeBiden>,"i am the president-elect, but will not be pre..."
3,2020-11-13,<JoeBiden>,i am alarmed by the surge in reported covid-1...
4,2020-11-13,<JoeBiden>,as the remnants of tropical storm eta continu...
...,...,...,...
8566,2020-01-03,<senatemajldr>,"for too long, this evil man operated without ..."
8567,2020-01-03,<senatemajldr>,soleimani made it his life’s work to take the...
8568,2020-01-03,<senatemajldr>,"this morning, iran’s master terrorist is dead..."
8569,2020-01-03,<senatemajldr>,senators do not cease to be senators just bec...
8570,2020-01-03,<senatemajldr>,the senate will soon have to address some of ...

In [88]:
tweetDf[tweetDf['name']=='<JoeBiden>']

,date,name,tweet
0,2020-11-15,<JoeBiden>,congratulations to nasa and spacex on today's...
1,2020-11-14,<JoeBiden>,"to the millions of hindus, jains, sikhs, and ..."
2,2020-11-13,<JoeBiden>,"i am the president-elect, but will not be pre..."
3,2020-11-13,<JoeBiden>,i am alarmed by the surge in reported covid-1...
4,2020-11-13,<JoeBiden>,as the remnants of tropical storm eta continu...
...,...,...,...
3027,2020-01-02,<JoeBiden>,it was a privilege to work with during the o...
3028,2020-01-01,<JoeBiden>,every day that donald trump remains in the wh...
3029,2020-01-01,<JoeBiden>,this election is about the soul of our nation...
3030,2020-01-01,<JoeBiden>,with just over one month until the iowa caucu...
3031,2020-01-01,<JoeBiden>,every single human being deserves to be treat...

In [73]:
tweetDf.to_csv('../data/politics_tweet.csv')

In [78]:
import psycopg2
from sqlalchemy import create_engine
engine = create_engine(f'postgresql:/example')
tweetDf.to_sql(name='tweet', con=engine, if_exists='replace', index=False)

In [89]:
tweetDf

,date,name,tweet
0,2020-11-15,<JoeBiden>,congratulations to nasa and spacex on today's...
1,2020-11-14,<JoeBiden>,"to the millions of hindus, jains, sikhs, and ..."
2,2020-11-13,<JoeBiden>,"i am the president-elect, but will not be pre..."
3,2020-11-13,<JoeBiden>,i am alarmed by the surge in reported covid-1...
4,2020-11-13,<JoeBiden>,as the remnants of tropical storm eta continu...
...,...,...,...
8566,2020-01-03,<senatemajldr>,"for too long, this evil man operated without ..."
8567,2020-01-03,<senatemajldr>,soleimani made it his life’s work to take the...
8568,2020-01-03,<senatemajldr>,"this morning, iran’s master terrorist is dead..."
8569,2020-01-03,<senatemajldr>,senators do not cease to be senators just bec...
8570,2020-01-03,<senatemajldr>,the senate will soon have to address some of ...

In [90]:
tweetDf.sample(n=3,replace=False)

,date,name,tweet
6406,2020-03-02,<realDonaldTrump>,this is an incredible time for our nation—we ...
7560,2020-05-23,<SpeakerPelosi>,#eidmubarak to each and every family celebrat...
7660,2020-04-19,<SpeakerPelosi>,leaders take responsibility. the president mu...